<article class="tweetCard">
  <!-- Imagen o avatar del usuario -->
  <div class="userImg">
    <img
      src="https://pbs.twimg.com/profile_images/1715305257620643841/wIn0vLHd_400x400.jpg"
      alt="Imagen de Marca"
      width="50"
      height="50"
    />
  </div>

  <div class="content">
    <!-- 1. Nombre de usuario, cuenta de usuario y tiempo de publicacion -->
    <div class="tweet-header">
      <span>MARCA marca · <strong>1hr</strong></span>
    </div>

    <!-- 2. Tweet (text) -->
    <p>
      Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos
      de texto. Lorem Ipsum ha sido el texto de relleno estándar de las
      industrias desde el año 1500, cuando un impresor (N. del T. persona que se
      dedica a la imprenta) desconocido usó una galería de textos y los mezcló
      de tal manera que logró hacer un libro de textos especimen.
    </p>

    <!-- 3. Imagen o video con un tamaño máximo o mínimo -->
    <div class="media-container">
      <div class="tweetImg">
        <img
          src="https://phantom-marca.unidadeditorial.es/93f6c4043ec20224731223108beb8baf/resize/828/f/webp/assets/multimedia/imagenes/2023/12/25/17035183778402.jpg"
          alt="Descripción de la imagen"
        />
      </div>
      <!-- O si es un video -->
      <!-- <video src="ruta-del-video.mp4" controls></video> -->
    </div>

    <!-- 4. Botones de retweet, like y demás... -->
    <interactions-buttons />
  </div>
</article>
